html, body {
  margin: 0;
  padding: 0;
  color: $default-font-color;
  width: 100%;
  font-weight: 400;
  font-size: $default-font-size;
  line-height: $default-line-height;
  height: 100%;
  box-sizing: border-box;

  // Basic styles

  button {
    border-radius: 20px;
    background-color: #1ba09f;
    border: none;
    color: #fff;
    padding: 8px 20px;
    font-size: 16px;
    line-height: 19px;
  }

  .link {
    display: inline-block;
    font-size: 15px;
    color: #0209f1;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 5px;
  }


  // Main styles

  .main-content {
    display: flex;
    flex-direction: column;
    padding: 0;

    .header {
      display: flex;
      flex: 0 91px;
      justify-content: space-between;
      align-items: center;
      padding: 0 25px;
      border-bottom: 1px solid $black;

      &__logo {
        width: 90px;
      }

      &__menu {
        position: relative;

        .hidden-menu {
          padding: 24px 0 20px 24px;
          height: 169px;
          width: 169px;
          visibility: hidden;
          opacity: 0;
          border-radius: 0 0 17.5px 17.5px;
          background-color: #fff;
          box-shadow: -2px 2px 12px 0 #f0f0f0;
          transition: all .2s linear;
          position: absolute;
          top: 50%;
          right: 0;
          z-index: 1;

          &.active {
            top: 100%;
            opacity: 1;
            visibility: visible;
          }

          &__list {
            margin: 0;
            padding: 0;
            list-style: none;

            &-item {
              list-style-type: none;
              margin-bottom: 16px;
              text-align: left;
            }
          }
        }
      }
    }

    .content-wrapper {
      flex: 1;
      min-width: 100%;
      max-height: calc(100vh - 91px);
      position: relative;
      background-color: $default-bg;
      padding: 80px 80px 0 80px;

      .content {
        width: 100%;
        height: 100%;
        background-color: $white;
        border-radius: 17px;
        border: 1px solid $light-gray;

        .left-side, .right-side {
          height: 100%;
          position: relative;

          .content-layout {
            overflow-y: auto;
            padding: 20px 10px 0;
            margin-bottom: 10px;

            &__go-to {
              display: none;
            }

            &__info {
              text-align: justify;
            }
          }
        }

        .left-side {
          display: flex;
          flex-direction: column;
          flex-basis: 40%;
          border-right: 1px solid $light-gray;
          padding: 0;

          &__header {
            padding-left: 15px;
          }

          .left-footer {
            display: flex;
            position: absolute;
            bottom: 0;
            height: 85px;
            width: 100%;
            align-items: center;

            &__add {
              display: flex;
              align-items: center;
              justify-content: center;
              position: absolute;
              right: 40px;
              height: 50px;
              width: 50px;
              color: white;
              background-color: #139999;
              border-radius: 50%;
              &-size {
                font-size: 20px;
              }
            }
          }
        }

        .right-side {
          display: flex;
          flex-direction: column;
          flex-basis: 60%;
          padding: 0;

          &__header {
            text-align: center;
          }

          .content-layout {
            flex: 1;

            .go-back {
              display: none;
            }
          }

          .right-footer {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex: 0 85px;
            background-color: $white;
            border-top: 1px solid $light-gray;
            height: 85px;
            width: 100%;


          }
        }

        &-header {
          padding-top: 15px;
          padding-bottom: 15px;
          margin: 0;
          border-bottom: 1px solid $light-gray;
        }
      }

      &.safari {
        max-height: calc(90vh - 91px);
      }
    }
  }
}
