/*******************************************************/
// Responsive Breakpoints
/*******************************************************/

@mixin respond-to($media) {
  @if ($media == tablet) {
    @media only screen and (max-width: 1024px) {
      @content
    }
  }

  @else if ($media == tablet-only) {
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      @content
    }
  }

  @else if ($media == tablet-landscape) {
    @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
      @content
    }
  }


  @else if ($media == mobile) {
    @media only screen and (max-width: 767px) {
      @content
    }
  }

  @else if ($media == mobile-landscape) {
    @media only screen and (max-width: 767px) and (orientation: landscape) {
      @content
    }
  }
}
