@include respond-to(tablet) {

  html, body {

    .main-content {

      .content-wrapper {
        padding: 0;
        overflow-x: hidden;

        .content {
          border: none;
          border-radius: 0;
          flex-wrap: nowrap;
          width: 200vw;
          transition: $default-transition;

          .right-side, .left-side {
            flex-basis: 50%;
            min-width: 50%;
            height: inherit;

            .content-layout {

              &__go-to {
                display: inline-block;
                font-size: 15px;
              }
            }

            &__header {
              margin: 0 auto;
              width: 90%;
            }
          }

          .left-side {
            border: 0;

            &__header {
              text-align: center;
            }

            .mock-list {
              margin-top: 100px;
            }
          }

          .right-side {

            .content-layout {

              .go-back {
                display: flex;
                justify-content: flex-end;
                font-size: 15px;
              }
            }
          }

          &.active {
            margin-left: -100% !important;
          }
        }
      }
    }
  }
}
