/*******************************************************/
// Font Variables
/*******************************************************/

$default-font-size: 14px;
$default-line-height: 1.5;

/*******************************************************/
// Colour Variables
/*******************************************************/

$default-font-color: #4b4b4b;
$grey: #575757;

$black: #000000;
$white: #ffffff;

$default-bg: #f5f5f5;
$light-gray: #e4e4e4;

/*******************************************************/
// Animation Variables
/*******************************************************/

$default-transition: all .2s ease-in-out;
