<div class="container-fluid p-0">
  <div class="row m-0">
    <div class="col-12 main-content">
      <header class="header">
        <div class="header__logo-wrapper">
          <img class="header__logo" src="../assets/images/logo-js.png" alt="">
        </div>
        <div class="header__menu" (click)="toggleMenu()">
          <img class="-burger-menu" src="../assets/images/burger-menu.svg" *ngIf="!menuToggle">
          <img class="-burger-menu" src="../assets/images/burger-menu-active.svg" *ngIf="menuToggle">
          <div class="hidden-menu" [ngClass]="{'active': menuToggle}">
            <ul class="hidden-menu__list">
              <li class="hidden-menu__list-item">
                HELP
              </li>
              <li class="hidden-menu__list-item">
                ABOUT
              </li>
              <li class="hidden-menu__list-item">
                SETTINGS
              </li>
              <li class="hidden-menu__list-item">
                <i class="fa fa-sign-out-alt"></i> LOGOUT
              </li>
            </ul>
          </div>
        </div>
      </header>
      <div class="content-wrapper" [ngClass]="{'safari': isMobSafari}">
        <div class="row content m-0" [ngClass]="{'active': detailsToggle}">
          <div class="left-side">
            <h2 class="left-side__header content-header">List of items</h2>
            <div class="content-layout">
              <span class="content-layout__go-to link" (click)="goToDetails(true)">Go to Details</span>
              <p class="content-layout__info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum
                excepturi illo laudantium non odit
                repellendus ullam unde. Doloremque enim est iusto maxime odit quisquam quo quos rem tempora tenetur.
                Doloribus iure omnis quas, quod sed temporibus vero. A ab adipisci ducimus magnam minima saepe totam!
                Fuga illo libero minus perspiciatis sit! Alias assumenda aut beatae corporis delectus distinctio earum
                eos et eveniet excepturi fugiat impedit libero maiores molestiae, nemo nobis obcaecati pariatur possimus
                provident rerum sed tempore temporibus ullam veniam vero! Aliquam aperiam architecto autem consectetur
                consequatur cupiditate dolore dolorem eaque eius eligendi esse eum ex excepturi explicabo facere, fuga
                incidunt itaque libero nulla officia praesentium provident quas quibusdam quis ratione repellendus rerum
                sit soluta suscipit tempore totam ullam unde vero. Ad amet consectetur cum delectus dolor esse explicabo
                ipsam, iure libero minus modi neque officiis perferendis perspiciatis quo, similique voluptate. Culpa
                doloribus laborum quae quis. Ad beatae cum cupiditate error ipsa itaque labore, laborum laudantium magni
                nobis officiis, optio quos repellat ut voluptate! Corporis enim esse expedita iure non quas repudiandae
                rerum saepe sed veritatis. Consequuntur debitis eaque labore libero non quo, reprehenderit sequi tempore
                ullam voluptate! Aperiam, asperiores autem dignissimos distinctio dolor dolore dolorem doloremque,
                dolores eos fuga ipsam iste, itaque magni natus nulla officia porro quam quibusdam quis repellat sequi
                vitae voluptatum! Amet aperiam aspernatur beatae dolorem doloribus, ducimus enim esse eveniet ex facilis
                hic illo in libero modi mollitia, nihil qui, sapiente soluta? Ab consectetur doloremque, esse molestias
                nam neque nostrum repudiandae? Animi autem corporis, delectus dolorum eligendi esse, explicabo iste
                laboriosam laborum magnam numquam officia porro quaerat quidem quis quisquam ratione reiciendis rem
                tempore vero. Expedita, fugiat incidunt nulla porro quo sapiente vel? Amet dignissimos, eius enim esse
                nihil non quas quis reiciendis ut vel. Accusantium asperiores cupiditate est expedita explicabo, harum
                illum ipsam nam natus, nisi odio qui quo reiciendis reprehenderit sed sint vel vitae voluptatum.
                Adipisci beatae debitis, distinctio dolores ducimus eius esse exercitationem facere harum modi mollitia
                necessitatibus officia perspiciatis porro quaerat quo similique! Ab expedita ipsa odio officia quia
                quibusdam rem veniam voluptatum. Dolorum exercitationem facere, ipsam itaque nemo quia voluptatum!
                Accusamus accusantium asperiores aspernatur blanditiis corporis cupiditate delectus dignissimos dolore
                esse, eveniet expedita explicabo facere iusto magni minus nobis numquam pariatur possimus praesentium
                quia quos ratione sed similique sint suscipit, temporibus, tenetur voluptates! Autem deserunt ex, magnam
                maxime necessitatibus nihil odio quibusdam voluptatem. Accusantium adipisci animi cumque dicta dolores
                eius itaque nam non perferendis praesentium repudiandae sit, vero voluptates. Dolor enim fuga odit
                quaerat quas. A accusantium adipisci assumenda deleniti distinctio, doloribus error eum facere illo
                incidunt iste iure laudantium modi molestias nihil nisi nostrum obcaecati officiis repudiandae saepe,
                sapiente soluta unde, ut veritatis voluptatem. Ad adipisci aliquam debitis dolores doloribus eius
                expedita id in ipsa maiores nam nihil odit optio perspiciatis praesentium, quisquam reiciendis totam
                veniam vero voluptatibus? Aliquid beatae commodi dignissimos distinctio dolore enim eos error
                exercitationem explicabo fugiat fugit in ipsa ipsum laboriosam libero magnam nobis nulla omnis possimus
                quasi quos reprehenderit, rerum similique, sint unde vitae voluptates! Consectetur cupiditate deserunt
                dignissimos expedita itaque labore laborum modi, nesciunt obcaecati, odio perferendis placeat quidem
                quod repudiandae similique soluta ut. Adipisci amet aut blanditiis ea exercitationem fugit labore magnam
                minus modi mollitia nam natus necessitatibus nemo nesciunt non nulla pariatur porro possimus praesentium
                quae quibusdam repudiandae tenetur ut vero vitae, voluptatem voluptates! A ab adipisci amet animi at
                consequuntur culpa doloremque eius exercitationem facilis impedit in ipsa iste laborum, neque omnis
                perferendis qui quibusdam quis quisquam quo sed similique sit soluta velit voluptate voluptatem
                voluptatibus! At corporis doloribus officiis voluptas? Accusantium ad alias aliquam asperiores
                consectetur corporis culpa cupiditate debitis dolor doloremque dolorum eaque eius esse excepturi
                exercitationem expedita facere fuga harum incidunt inventore ipsum iusto labore laborum magni maxime
                necessitatibus neque numquam officiis placeat, quidem ratione saepe sint unde vel velit voluptate
                voluptatem. Architecto consectetur distinctio dolor est modi perspiciatis quas velit? Dolores inventore
                ipsa quidem rem voluptate. A accusamus cum fugiat hic ipsa minima mollitia repellendus? Accusantium ad
                aspernatur aut est, minima necessitatibus porro sapiente sint. Ab accusamus architecto asperiores
                commodi, consequatur debitis delectus est eveniet exercitationem hic, in inventore laborum laudantium
                modi mollitia necessitatibus pariatur porro possimus praesentium quam qui quis quisquam sapiente
                temporibus veniam voluptas!</p>
            </div>
            <div class="left-footer">
              <div class="left-footer__add"><span class="left-footer__add-size">+</span></div>
            </div>
          </div>
          <div class="right-side">
            <h2 class="right-side__header content-header">Details</h2>
            <div class="content-layout">
              <span class="go-back link" (click)="goToDetails(false)">Go back</span>
              <p class="content-layout__info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur
                culpa cumque debitis deserunt dolor eum, eveniet fugiat hic molestiae nostrum obcaecati officia
                praesentium repellat reprehenderit totam velit veritatis. A ad, aliquid aspernatur consectetur delectus
                dolore doloribus explicabo illo iusto libero magnam, mollitia natus nesciunt numquam officia qui
                reiciendis repellat sed sint suscipit totam vitae voluptatibus. Accusantium amet asperiores assumenda at
                aut consequatur cumque cupiditate delectus dolore dolores ducimus eaque fugiat impedit in ipsa ipsam
                laudantium molestias natus non nostrum numquam odio officia placeat provident quibusdam quis quisquam
                quos reiciendis rerum sunt ut veniam, voluptate voluptatem? Ad asperiores cumque dignissimos dolore
                dolorem eius exercitationem facere, in molestiae, porro saepe, sint suscipit totam veniam voluptates.
                Deserunt ex exercitationem illo impedit in ipsum molestiae veritatis vitae. Accusamus aliquid amet atque
                consequatur culpa delectus dolor eius facere facilis fugit illo itaque laboriosam, laborum natus
                obcaecati officiis pariatur quaerat quam quidem quod recusandae reiciendis sapiente sequi. A accusamus
                adipisci commodi consectetur culpa cum cumque deleniti dolor dolore dolorem doloribus dolorum earum et
                explicabo, hic id incidunt, iusto magni maxime minima molestiae nam nobis, nulla perferendis praesentium
                qui quia quidem repellat sapiente soluta sunt suscipit temporibus ullam velit voluptas voluptate
                voluptates? Commodi cupiditate delectus, dolor dolorum eaque eligendi expedita iusto maxime molestiae
                nesciunt odio, omnis sed totam voluptatibus voluptatum! Ad assumenda, dicta dolorum eaque earum eius
                enim ex hic impedit ipsum iste, iure iusto laudantium magni minus nihil nisi nostrum quis ratione sunt
                tempora tenetur, unde ut vero voluptatem! At aut commodi consectetur delectus dolorum facere hic, ipsam
                magni maiores quas, quia reprehenderit sequi, tempora tempore tenetur vel vitae! Accusantium animi autem
                corporis cumque dolor dolore ducimus earum eligendi et excepturi exercitationem explicabo fugiat illum
                in iure iusto laboriosam, laudantium magnam minima minus modi omnis placeat possimus quaerat qui, rem
                rerum sapiente, sed sint ullam unde veniam voluptas voluptates! Aperiam aspernatur delectus doloremque,
                esse explicabo, fugiat id inventore iste molestiae pariatur, perspiciatis porro saepe ullam. Dolores hic
                nesciunt nulla quibusdam repellat. Ab accusantium adipisci aliquid aperiam assumenda aut dolore eaque
                earum, est ex explicabo illo minima necessitatibus nemo placeat porro quis quisquam similique vero
                voluptas! Adipisci, aliquam architecto, asperiores consequuntur cupiditate distinctio earum error
                exercitationem expedita harum impedit maiores quos reiciendis. Inventore iste laudantium non nulla odio
                quam rerum tempora velit! Ad consectetur corporis culpa cumque debitis dolor dolorem ea eligendi error
                et eveniet, facilis fuga hic illo incidunt mollitia, nemo nobis optio pariatur perferendis placeat
                praesentium provident quae quasi quo quod ratione repellat rerum sapiente similique sunt tenetur ut
                voluptatem. Ad debitis suscipit voluptatum? Ab alias esse fuga, labore laborum laudantium molestiae
                mollitia nam nobis perspiciatis placeat quod ratione saepe sapiente sequi similique sint voluptas!
                Accusantium praesentium, quis. Alias, aspernatur beatae consectetur, deserunt eligendi ex facere harum
                minus perspiciatis praesentium qui veritatis voluptatibus voluptatum. A eligendi illum iste nam neque
                nisi numquam repellendus repudiandae unde! Cum eius eligendi placeat qui! Atque consectetur distinctio
                ex exercitationem laborum natus. Ab aliquam aliquid atque deleniti dolore doloremque eligendi, facere
                fugit hic in minus, molestias natus odio possimus quasi, quidem rerum sequi soluta sunt voluptates?
                Accusamus amet atque consectetur corporis eligendi hic, id illo ipsa, ipsam laudantium neque omnis
                pariatur perspiciatis praesentium quam quidem repellat similique tempora veritatis vitae? Animi cum hic
                illum obcaecati porro rem sed voluptatem. Architecto aspernatur consequuntur fugit iusto porro quia
                reprehenderit rerum tenetur! A accusantium aperiam atque dignissimos dolorem dolorum ea earum fugiat
                hic, illo iure magni maiores natus nemo neque odit perspiciatis placeat porro possimus quae recusandae
                reprehenderit suscipit tempora. Ab aut dignissimos dolore ducimus eaque ipsa quis sit tempore, unde
                veritatis? Accusantium adipisci aliquid, aspernatur eligendi ex harum incidunt necessitatibus nesciunt
                omnis perferendis placeat rem saepe sit veniam vitae. Aliquam asperiores blanditiis, cupiditate deleniti
                dignissimos dolore, dolorem, doloremque dolorum ducimus ex fugiat iure labore maiores nesciunt non nulla
                obcaecati officia quaerat quod recusandae! Adipisci aperiam at consectetur consequuntur debitis deleniti
                dolore dolorem et excepturi exercitationem expedita in ipsam ipsum itaque magni nam nihil non nulla
                perspiciatis, quas quia quod reiciendis rerum sed sunt vero vitae voluptatem. Aliquid, blanditiis cumque
                doloremque est ex excepturi exercitationem harum inventore iure maxime nemo perferendis reiciendis
                veritatis. Impedit nesciunt possimus rerum. Architecto doloribus dolorum eos impedit maiores! Enim
                exercitationem ipsa iste numquam provident quibusdam soluta voluptatem voluptatum? Adipisci amet,
                assumenda atque ducimus eveniet fuga fugit incidunt labore magni maiores nam neque nesciunt nisi odit
                officia optio provident qui quia, quibusdam quidem quis quisquam rem, rerum sed similique sint velit
                veritatis. Ad aliquid assumenda at beatae delectus deserunt, distinctio est, et ex ipsa nobis odit quae
                quam quod, vitae. Aspernatur consectetur dolores doloribus explicabo facilis ipsum, minima optio quam
                quo soluta tenetur, veritatis. Accusamus adipisci amet, delectus ea eaque eligendi est eum eveniet fugit
                harum id illo itaque iusto magni nemo neque obcaecati odio officia pariatur quae quam qui quibusdam
                quidem quis quisquam reiciendis rerum suscipit unde vel veritatis. Blanditiis dignissimos dolores eius
                fugit ipsum nobis, obcaecati porro suscipit. Architecto, atque cum deleniti dicta dolores et hic iure
                maiores non obcaecati quis sunt velit, veritatis? Dignissimos eaque incidunt officiis saepe. A aliquam
                amet aperiam asperiores distinctio, dolore eaque error eum eveniet fugiat harum illum incidunt ipsam
                iusto neque nesciunt omnis porro, possimus praesentium quae quas ratione repudiandae sapiente temporibus
                voluptates. Animi autem beatae cupiditate doloremque doloribus earum eveniet inventore maxime minima
                modi mollitia nam natus numquam, odit perferendis perspiciatis praesentium quas quibusdam sapiente sequi
                similique suscipit vero! Eaque et eum excepturi incidunt iste maiores nam obcaecati ut!</p>
            </div>
            <div class="right-footer">
              <button>accept</button>
              <button>delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
